body{
    background-color: red;
}

#btnjs, #HTML14, #HTML15{
    display: none;
}

body.item , body.index.home, body.index, body.home{
    padding: 0 0 0 0 !important;
    margin: 0 !important;
}

#outer-wrapper {
    display: block;
    background: rgb(39, 39, 39);
    background-image: linear-gradient(rgb(39, 39, 39),
            rgb(39, 40, 39),
            rgb(50, 50, 50),
            rgb(39, 39, 39),
            rgb(40, 39, 39));
    opacity: 3;
}

a {
    cursor: pointer;
    transition: 5s;
}

a:active {
    color: red;
}

a:hover {
    color: red;
}

a:visited {
    color: lightgreen;
}

.logo-content {
    background-image: Linear-gradient(rgb(39, 39, 39), rgb(50, 50, 50));
    position: fixed;
    background-position: fixed;
}

.search-action {
    background-image: linear-gradient(120deg, #ff0553, #00c0ff);
    border-radius: 30px;
    position: absolute;
    left: 76.5%;
    outline: none;
    transition: all 0.2s linear;
}

.search-input {
    border-radius: 30px;
    position: absolute;
    outline: none;
    transition: all 0.2s linear;
}

.search-input:hover, .search-action:hover {
    opacity: 0.9;
    filter: brightness(120%) drop-shadow(1px 4px rgba(23, 32, 36, 0.932));
}

.search-input::after, .search-action::after {
    content: '';
    opacity: 1;
    filter: brightness(200%);
}

.search-input::before, .search-action::before {
    content: '';
    opacity: 1;
}

.search-input:active, .search-action:active {
    padding: 3% 5% 3% 5%;
    opacity: 0.9;
    filter: contrast(120%);
}

.queryMessage {
    background-image: linear-gradient(rgb(60, 60, 60), rgb(39, 39, 39));
    z-index: 1;
    box-shadow: 0 0 20px 3px rgb(90, 90, 90);
    border-radius: 10px;
    opacity: 0.9;
}

#preloader-preloaded {
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: cover;
    background-color: rgb(39, 39, 39);
}

#loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    background: rgb(39, 39, 39);
}

#loader::before,
#loader::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

#loader::before {
    animation: before 2s infinite;
}

#loader::after {
    animation: after 2s infinite;
}

@keyframes before {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
            -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
            0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
            1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
            -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
            -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
            -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
            -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
            -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

@media (max-width: 700px) {
    .scrollTop {
        display: block;
        width: 50px;
        height: 50px;
        color: rgb(5, 5, 5);
        background-color: cadetblue;
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        border-radius: 100%;
        -webkit-tap-highlight-color: transparent;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 450px;
        right: 25px;
        opacity: 0;
        z-index: 9999999;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: all 0.5s ease-in-out;
        pointer-events: none;
        overflow: hidden;
    }

    .scrollTop:active {
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        width: 60px;
        height: 60px;
        opacity: 1;
        background: #ff3131;
    }

    p {
        user-select: none;
    }

    .scrollTop.active {
        display: block;
        bottom: 90px;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        pointer-events: visible;
        overflow: hidden;
    }
}

@media (min-width: 700px) {
    .scrollTop {
        display: block;
        width: 60px;
        height: 60px;
        color: rgb(5, 5, 5);
        background-color: cadetblue;
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        border-radius: 100%;
        -webkit-tap-highlight-color: transparent;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 450px;
        right: 40px;
        opacity: 0;
        z-index: 9999999;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: all 0.5s ease-in-out;
        pointer-events: none;
        overflow: hidden;
    }

    .scrollTop:active {
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        width: 80px;
        height: 80px;
        opacity: 1;
        background: #ff3131;
        pointer-events: visible;
    }

    .scrollTop:hover {
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        width: 80px;
        height: 80px;
        opacity: 1;
        background: #ff3131;
        pointer-events: visible;
    }

    p {
        user-select: none;
    }

    .scrollTop.active {
        display: block;
        bottom: 80px;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        pointer-events: visible;
        overflow: hidden;
    }
}

.show-mobile-search {
    display: none;
}

.slide-menu-toggle {
    border-right: none;
    border-left: 1px solid rgba(225, 225, 225, 0.08);
}

.logo-content {
    position: fixed;
    z-index: 99;
}

.mobile-header .logo-content>h3>a {
    background: linear-gradient(15deg,
            rgb(225, 225, 225),
            #eee,
            #333,
            #fff,
            rgb(225, 225, 225));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-size: 20px;
    font-family: "permanent marker";
    -webkit-tap-highlight-color: transparent;
    z-index: 99;
}

.mobile-header .logo-content>h3>a {
    display: block;
    float: left;
    margin-left: 20px;
}

.scienhac_logo {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 3px;
    left: 10px;
    z-index: 4;
    border-radius: 100%;
    border: 1px solid red;
    opacity: 1;
}

.mobile-header .logo-content>h3>a {
    margin-left: 60px;
    filter: brightness(150%);
}

.logo-content {
    position: fixed;
}

.slide-menu-toggle {
    -webkit-tap-highlight-color: transparent;
}

.slide-menu-toggle:active {
    backdrop-filter: blur(10px);
    background: rgb(70, 70, 70);
    border-radius: 100%;
    color: mediumspringgreen;
}

.slide-menu-toggle {
    border: none;
    z-index: 999999;
}

.mobile-header .closeMenu {
    position: absolute;
    margin: 0;
    height: 50px;
    width: 50px;
    right: 0;
    color: rgb(225, 225, 225);
    z-index: 99;
    display: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s ease-in-out;
}

.mobile-header .closeMenu:active {
    color: mediumspringgreen;
    border-radius: 100%;
    background: rgb(70, 70, 70);
}

.mobile-header .closeMenu .fa-times {
    position: absolute;
    margin-right: 13px;
    margin-top: 8.5px;
    font-size: 30px;
    right: 0;
}

.slide-menu-toggle {
    transition: all 0.1s ease-in-out;
}

#jump {
    scroll-behavior: smooth;
    text-decoration: none;
}

#video {
    width: 95%;
    height: 50vh;
}

.type_main .type {
    display: none;
}

#HTML20 {
    border-radius: 20px;
}

a.view-all {
    background-image: linear-gradient(90deg, turquoise, dodgerblue, orangered);
    color: Dimgrey;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 2px Dimgrey;
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent;
}

a.view-all:active {
    padding: 10px;
    color: orangered;
}

.blog-post.hentry.index-post {
    margin-top: 25px;
}

.blog-post.hentry.index-post:first-child {
    margin-top: 0;
}

img.post-thumb {
    border-radius: 10%;
    opacity: 1;
    z-index: 99999;
}

img.i-amphtml-fill-content.i-amphtml-replaced-content {
    opacity: 1;
}

a.img {
    opacity: 1;
}

#Label1.widget {
    background-color: transparent;
}

#HTML16 {
    border-radius: 20px;
    border: 1px solid Dimgrey;
}

h3.title {
    display: none;
}

.PopularPosts h3.title {
    display: block;
}

iframe[src*="ads-iframe"] {
    display: none;
}

#HTML5 {
    border-radius: 20px;
    background-image: linear-gradient(90deg, cadetblue, skyblue);
    filter: brightness(100%);
}

.mobile-header {
    transform: none;
    position: fixed;
}

@media (max-width: 500px) {

    .search-input,
    .search-action {
        position: absolute;
        margin-top: 10%;
    }
}

@media (min-width: 500px) {

    .search-input,
    .search-action {
        position: absolute;
        margin-top: 6%;
    }
}

@media (min-width: 1400px) {

    .search-input,
    .search-action {
        position: absolute;
        margin-top: 0px;
    }
}

.mobile-header {
    opacity: 0.8;
}

#HTML6 {
    color: rgb(72, 221, 225);
    border-top: 1px solid rgb(110, 110, 110);
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent;
}

.widget-content p a:hover {
    color: orangered;
}

.widget-content p a:active {
    color: cadetblue;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.post-image-link {
    border-radius: 20px;
}

.ripple_effect {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    animation: ripples 1s linear infinite;
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 1000px;
        height: 1000px;
        opacity: 0;
    }
}

.search-input {
    cursor: text;
    z-index: 999;
}

.search-action {
    z-index: 999;
}

#progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 0%;
    height: 3px;
    background: mediumspringgreen;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: width 500ms ease-out, opacity 400ms linear;
    -ms-transition: width 500ms ease-out, opacity 400ms linear;
    -o-transition: width 500ms ease-out, opacity 400ms linear;
    -webkit-transition: width 500ms ease-out, opacity 400ms linear;
    transition: width 500ms ease-out, opacity 400ms linear;
}

#progress.done {
    opacity: 0;
    animation-play-state: paused;
    display: none;
}

#progress dd,
#progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #b91f1f 1px 0 6px 1px;
    -ms-box-shadow: #b91f1f 1px 0 6px 1px;
    -webkit-box-shadow: #b91f1f 1px 0 6px 1px;
    box-shadow: #b91f1f 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

#progress dd {
    opacity: 1;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px);
}

#progress dt {
    opacity: 1;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px);
}

@-moz-keyframes pulse {
    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes pulse {
    30% {
        opacity: 0.6;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@-o-keyframes pulse {
    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    30% {
        opacity: 0.6;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes pulse {
    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#progress.waiting dd,
#progress.waiting dt {
    -moz-animation: pulse 2s ease-out 0s infinite;
    -ms-animation: pulse 2s ease-out 0s infinite;
    -o-animation: pulse 2s ease-out 0s infinite;
    -webkit-animation: pulse 2s ease-out 0s infinite;
    animation: pulse 2s ease-out 0s infinite;
}

#LinkList76 {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

#menu-footer {
    float: none;
    width: 100%;
    margin-bottom: 2%;
}

@media (min-width: 500px) {

    #HTML6,
    #LinkList76 {
        width: 100%;
        font-weight: 1000;
        height: 30px;
    }

    #HTML6 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }

    #menu-footer ul li a {
        font-size: 18px;
        font-weight: 1000;
    }
}

@media (min-width: 1300px) {

    #HTML6,
    #LinkList76 {
        font-weight: 1000;
        height: 30px;
    }

    #HTML6 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    #menu-footer ul li a {
        font-size: 22px;
        font-weight: 1000;
    }
}

h2.post-title>a,
.item-post h1.post-title {
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-family: cursive !important;
}

@media only screen and (max-width: 700px){
    h2.post-title>a,
    .item-post h1.post-title {
        font-family:  'Balsamiq Sans' !important;
    }
}

.post-snippet,
a {
    font-family: cursive;
}

.post-tag {
    color: #00ccedf2 !important;
    font-style: oblique;
    font-family: Didot;
    letter-spacing: 2px !important;
}

@media (min-width: 500px) {

    .page-num.page-next,
    .page-num.page-prev {
        font-size: 10px;
        font-weight: 100;
        overflow: hidden;
    }

    #progress dd,
    #progress dt {
        height: 15px;
    }

    #progress {
        height: 0.5%;
    }
}

#progress.waiting {
    border-radius: 5px;
    background-image: linear-gradient(to left, #E55D87, #5FC3E4);
    animation: pgr 5s linear infinite;
}

#progress.waiting::after {
    content: '';
    background-image: linear-gradient(to left, #E55D87, #5FC3E4);
    filter: blur(30px);
}

#progress.waiting::before {
    content: '';
    background-image: linear-gradient(to left, #E55D87, #5FC3E4);
    filter: blur(10px);
}

@keyframes pgr {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.menu_btn {
    position: fixed;
    margin: 22.5px 13px 0 0;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
    width: 37px;
    height: 30px;
    z-index: 99999999;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    outline: none;
    -webkit-tap-highlight-color: transparent !important;
}

.hamburger {
    position: fixed;
    margin: 22.5px 13px 0 0;
    top: 0;
    right: 0;
    width: 25px;
    height: 3px;
    z-index: 999;
    cursor: pointer;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    opacity: 0.5;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: rgb(255, 255, 255);
    z-index: 9999;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.hamburger::after {
    transform: translateY(-7px);
}

.hamburger::before {
    transform: translateY(7px);
}

.menu_btn.open .hamburger {
    transform: translateX(-25px);
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.menu_btn.open .hamburger::after {
    transform: rotate(-45deg) translate(20px, 20px);
}

.menu_btn.open .hamburger::before {
    transform: rotate(45deg) translate(20px, -20px);
}

.menu_btn:active {
    width: 50px;
    height: 30px;
    transition: 0.4s ease-in-out;
    border-radius: 30%;
    background: rgb(200, 200, 200);
    opacity: 0.5;
    margin-right: 3px;
}

.menu_btn .hamburger:active {
    margin-right: 20px;
}

.main_menu {
    position: absolute;
    display: block;
    background: rgb(52, 58, 64);
    justify-content: space-between;
    width: 100%;
    margin: 0;
    height: 300px;
    margin: 0;
    padding: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.main_menu>li>a {
    background: linear-gradient(120deg,
            rgb(69, 129, 142),
            rgb(246, 178, 107),
            rgb(224, 102, 102),
            rgb(249, 203, 159));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script";
    font-size: 18px;
}

.main_menu a {
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: rgba(225, 225, 225, 0.75);
    -webkit-tap-highlight-color: transparent;
    display: block;
    position: relative;
    padding: 3px;
    margin-left: 10px;
    top: 10px;
}

.icon_social a {
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    position: relative;
    z-index: 999;
}

.fa-facebook {
    color: royalblue;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 0;
    margin-left: 10px;
}

.fa-twitter {
    color: deepskyblue;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 0;
    margin-left: 50px;
}

.fa-youtube {
    color: red;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 0;
    margin-left: 90px;
}

@media (max-width: 1200px) {
    #nav {
        position: relative;
        list-style: none;
        background: rgb(39, 39, 39);
        z-index: 999999;
    }
}

.mains {
    top: -300px;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
}

@keyframes an {
    from {
        opacity: 0;
        transform: scale3d(0, 2, 5);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 4);
    }
}

@keyframes a {
    from {
        opacity: 1;
        transform: scale3d(1, 1, 4);
    }

    to {
        opacity: 0;
        transform: scale3d(0, 2, 5);
    }
}

@keyframes main {
    0% {
        transform: scale3d(2, 6, 3);
    }

    50% {
        transform: skew(45deg, 5deg);
    }

    100% {
        transform: scale3d(1, 1, 5);
    }
}

@keyframes sub {
    0% {
        transform: scale3d(2, 1, 3);
    }

    50% {
        transform: skew(15deg, 5deg);
    }

    100% {
        transform: scale3d(1, 1, 5);
    }
}

@keyframes mainend {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.scienhac_ham {
    position: relative;
    display: block;
    left: 55%;
    top: -5em;
    border: 1px solid orangered;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px orangered;
}

@media (max-width: 700px) {
    .scienhac_ham {
        width: 40%;
        height: auto;
    }
}

@media (min-width: 700px) {
    .scienhac_ham {
        width: 20%;
        height: auto;
        left: 70%;
    }
}

.menu_btn {
    overflow: hidden;
}

.g-signin2 {
    top: 220px;
    margin-left: 20px;
    position: absolute;
    border: 1px solid red;
}

.on-signOut {
    position: absolute;
    height: 40px;
    width: 120px;
    background: red;
    border-radius: 10px;
    top: 220px;
    left: 160px;
    color: white;
    font-weight: 1000;
    font-family: "Roboto Slab";
    text-align: centre;
}

.on-signOut:active {
    box-shadow: 0 0 1px 2px rgb(100, 100, 100);
    border-style: outset;
}

.sh-un {
    align-items: center;
    justify-content: center;
    top: 275px;
    display: none;
    position: absolute;
    background: red;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
    height: 1.5em;
    margin: 0 0 10px 0;
    border-radius: 10px;
    font-weight: 1000;
    font-family: "Roboto Slab";
    font-size: 15px;
    text-align: centre;
}

.sh-un p {
    color: white;
    text-align: centre;
}

@media (min-width: 700px) {
    .sh-un {
        height: 1.5em;
        left: 45%;
        transform: translate(-50%, -50%);
        font-size: 1.6em;
        top: 100px;
        width: 39%;
    }

    .sh-un p {
        justify-content: center;
        align-item: center;
    }
}

.userText {
    top: -25px;
    position: fixed;
    z-index: 9999;
    left: 70%;
    transform: translateX(-50%);
    font-family: "Roboto Slab";
    font-size: 15px;
    overflow: auto;
    color: springgreen;
    line-height: 15px;
    height: 45px;
    width: 100px;
}

.userName {
    background-image: linear-gradient(45deg, #fff, rgb(110, 210, 210));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.7;
    animation: St 4s linear infinite;
    font-family: cursive;
}

@keyframes St {
    0%, 100% {
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    50% {
        opacity: 0;
        filter: hue-rotate(360deg);
    }
}

.showbox {
    position: absolute;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 5%;
}

.loader_thumb {
    position: relative;
    margin: 0px auto;
    width: 50px;
}

.loader_thumb:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite,
        color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {

    100%,
    0% {
        stroke: #d62d20;
    }

    40% {
        stroke: #0057e7;
    }

    66% {
        stroke: #008744;
    }

    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {

    100%,
    0% {
        stroke: #d62d20;
    }

    40% {
        stroke: #0057e7;
    }

    66% {
        stroke: #008744;
    }

    80%,
    90% {
        stroke: #ffa700;
    }
}

.load_sk {
    width: 100%;
    height: 100%;
    background: #ddd;
}

.load_th {
    background: linear-gradient(to right, #ddd, #f3f3f3, #ddd);
    width: 400px;
    height: 100%;
    position: relative;
    animation: Chan 1s linear infinite;
    overflow: hidden;
    left: 0;
}

@keyframes Chan {
    0% {
        left: -200px;
    }

    100% {
        left: 100%;
    }
}

@media only screen and (min-width: 700px) {
    .separator img {
        width: 400px;
        height: auto;
        border-radius: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .separator img {
        border-radius: 30px;
    }
}

#HTML5 h3.title {
    display: block;
    animation: h3 2s linear infinite;
    transition: all 0.5s ease;
}

@keyframes h3 {
    from {
        background-image: linear-gradient(120deg, orangered, mediumspringgreen);
    }

    to {
        background-image: linear-gradient(120deg, mediumspringgreen, orangered);
    }
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.item-post .post-body img {
    opacity: 1;
}

.mobile-header {
    transform: none;
    position: fixed;
}

@media only screen and (min-width: 700px) {
    .separator img {
        width: 700px;
        border-radius: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .separator img {
        border-radius: 30px;
    }
}

.widget-title>h3.title {
    color: white;
    border-radius: 20px 20px 0 0;
    text-indent: 20px;
}

@media (max-width: 700px) {
    .BlogSearch .search-input {
        transform: translate(-50%, -50%);
        width: 52%;
        left: 38%;
        margin: 10% 0;
    }

    .BlogSearch .search-action {
        transform: translate(-50%, -50%);
        width: 20%;
        margin: 10% 0 0 4%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
    .BlogSearch .search-input {
        transform: translate(-50%, -50%);
        width: 52%;
        left: 38%;
        margin: 6% 0;
        height: 40px;
    }

    .BlogSearch .search-action {
        transform: translate(-50%, -50%);
        width: 20%;
        margin: 6% 0 0 0%;
        height: 40px;
    }

    .userText {
        left: 90%;
        width: 80px;
    }
}

@media (min-width: 1200px) {
    .userText {
        position: absolute;
        top: -104px;
        height: 50px;
        left: 92%;
        width: 90px;
    }

    .userName {
        opacity: 1;
        font-size: 15px;
    }

    .BlogSearch .search-input {
        transform: translate(-50%, -50%);
        width: 31%;
        left: 38%;
        margin: 0% 0;
        height: 40px;
    }

    .BlogSearch .search-action {
        transform: translate(-50%, -50%);
        width: 8%;
        margin: 0% 0 0 -18%;
        height: 40px;
    }

    #top-bar {
        top: 0;
        position: fixed;
        z-index: 9999999;
        background-image: Linear-gradient(rgb(39, 39, 39), rgb(50, 50, 50));
    }

    .hamburger {
        margin: 15px 15px 0 0;
    }

    .menu_btn {
        margin: 0 5px 0 0;
    }

    .mains {
        z-index: 9999999;
        list-style: none;
    }

    .sh-un {
        height: 2em;
    }

    .scienhac_ham {
        width: 17em;
        height: auto;
        left: 74%;
    }

    .type_main_ty {
        top: -45px;
    }

    .scienhac_logo {
        left: -50px;
        top: 24px;
    }
}

.header-widget h1,
.header-widget>h1>a {
    background: linear-gradient(45deg, #fff, rgb(110, 210, 210));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Caveat";
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

.MathJax {
    display: inline !important;
    text-align: left !important;
}

li::marker {
    color: rgb(238, 238, 238);
}

body {
    background-image: linear-gradient(rgb(39, 39, 39),
            rgb(39, 40, 39),
            rgb(50, 50, 50),
            rgb(39, 39, 39),
            rgb(40, 39, 39));
}

#HTML9,
#HTML12 {
    background: transparent;
    margin-top: 20px;
    border-radius: 20px 5px 20px 20px;
}

#ContactForm1 {
    display: none !important;
}

#ContactForm1_contact-form-success-message,
#ContactForm1_contact-form-error-message {
    border-radius: 15px;
}

#ContactForm1,
#HTML3,
#HTML8,
#HTML10,
#HTML11 {
    margin: 0;
}

#HTML12 {
    margin-top: min(20px);
}

#sidebar1 {
    margin-top: min(20px);
}

#HTML7 {
    background: transparent;
    margin: 20px 0 20px 0;
}

.gsc-control-cse {
    border-radius: 20px;
    background: rgb(39, 39, 39) !important;
}

#main_scienhac {
    position: fixed;
    transition: all 1s ease-in-out;
    height: 100vh;
    width: 100vw;
    background-color: #1e2933;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .mainbtn>p {
        font-size: 1.5em;
        filter: brightness(200%);
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: bolder;
        background-image: repeating-linear-gradient(35deg, #ff00ea, #00a2ff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .mainbtn {
        filter: drop-shadow(2px 2px 5px rgb(15, 40, 41));
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        background-image: linear-gradient(120deg,
                rgb(146, 71, 121),
                rgb(25, 57, 66));
        top: 50%;
        display: flex;
        cursor: pointer;
        border: none;
        overflow: hidden;
        position: fixed;
        border-radius: 37%;
        padding: 1% 4% 1% 4%;
        box-shadow: 0px 5px 20px 3px #051a2bea;
        transition: all 1s ease-in-out;
        -webkit-tap-highlight-color: transparent;
    }

    .mainbtn:hover {
        opacity: 0.9;
        filter: brightness(120%) drop-shadow(1px 4px rgba(23, 32, 36, 0.932));
    }

    .mainbtn::after {
        content: "";
        opacity: 1;
        filter: brightness(200%);
    }

    .mainbtn::before {
        content: "";
        opacity: 1;
    }

    .mainbtn:active {
        padding: 3% 5% 3% 5%;
        opacity: 0.9;
        filter: contrast(120%);
    }

    .schac1,
    .schac2,
    .schac3 {
        transition: all 1s ease-in-out;
        border-radius: 50%;
        margin-top: -28em;
        z-index: 99;
        width: 40vw;
        height: 40vw;
        position: absolute;
        border: 1px solid #3d4852bb;
    }

    .scienhac_home {
        margin-top: -28em;
        z-index: 99;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 20vw;
        height: auto;
        animation: schac1 2s ease-in-out infinite forwards;
    }

    .schac1 {
        animation: scbox1 2s ease-in infinite forwards;
    }

    .schac2 {
        animation-delay: 1s;
        animation: scbox2 2s ease-in infinite forwards;
    }

    .schac3 {
        animation-delay: 2s;
        animation: scbox3 2s ease-in infinite forwards;
    }
}

@media only screen and (min-width: 1000px) {
    .mainbtn>p {
        font-size: 2.3em;
        filter: brightness(200%);
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: bolder;
        background-image: repeating-linear-gradient(35deg, #ff00ea, #00a2ff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .mainbtn {
        filter: drop-shadow(2px 2px 5px rgb(15, 40, 41));
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        background-image: linear-gradient(120deg,
                rgb(146, 71, 121),
                rgb(25, 57, 66));
        top: 60%;
        display: flex;
        cursor: pointer;
        border: none;
        overflow: hidden;
        position: fixed;
        border-radius: 37%;
        padding: 0;
        box-shadow: 0px 5px 20px 3px #051a2bea;
        transition: all 1s ease-in-out;
        -webkit-tap-highlight-color: transparent;
    }

    .mainbtn:hover {
        opacity: 0.9;
        filter: brightness(120%) drop-shadow(1px 4px rgba(23, 32, 36, 0.932));
    }

    .mainbtn::after {
        content: "";
        opacity: 1;
        filter: brightness(200%);
    }

    .mainbtn::before {
        content: "";
        opacity: 1;
    }

    .mainbtn:active {
        padding: 3% 5% 3% 5%;
        opacity: 0.9;
        filter: contrast(120%);
    }

    .schac1,
    .schac2,
    .schac3 {
        transition: all 1s ease-in-out;
        border-radius: 50%;
        margin-top: -18%;
        z-index: 99;
        width: 20vw;
        height: 20vw;
        position: absolute;
        border: 1px solid #3d4852bb;
    }

    .scienhac_home {
        margin-top: -18%;
        z-index: 99;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 10vw;
        height: auto;
        animation: schac2 2s ease-in-out infinite forwards;
    }

    .schac1 {
        animation: scbox4 2s ease-in infinite forwards;
    }

    .schac2 {
        animation-delay: 1s;
        animation: scbox5 2s ease-in infinite forwards;
    }

    .schac3 {
        animation-delay: 2s;
        animation: scbox6 2s ease-in infinite forwards;
    }
}

@keyframes schac1 {
    from {
        opacity: 0.3;
        width: 8em;
    }

    to {
        opacity: 0.7;
        width: 15em;
    }
}

@keyframes schac2 {
    from {
        opacity: 0.3;
        width: 9em;
    }

    to {
        opacity: 0.7;
        width: 17em;
    }
}

@keyframes scbox1 {
    from {
        opacity: 1;
        width: 8em;
        height: 8em;
    }

    to {
        opacity: 0;
        width: 21em;
        height: 21em;
    }
}

@keyframes scbox2 {
    from {
        opacity: 1;
        width: 8em;
        height: 8em;
    }

    to {
        opacity: 0;
        width: 25em;
        height: 25em;
    }
}

@keyframes scbox3 {
    from {
        opacity: 1;
        width: 8em;
        height: 8em;
    }

    to {
        opacity: 0;
        width: 30em;
        height: 30em;
    }
}

@keyframes scbox4 {
    from {
        opacity: 1;
        width: 9em;
        height: 9em;
    }

    to {
        opacity: 0;
        width: 25em;
        height: 25em;
    }
}

@keyframes scbox5 {
    from {
        opacity: 1;
        width: 9em;
        height: 9em;
    }

    to {
        opacity: 0;
        width: 30em;
        height: 30em;
    }
}

@keyframes scbox6 {
    from {
        opacity: 1;
        width: 9em;
        height: 9em;
    }

    to {
        opacity: 0;
        width: 36em;
        height: 36em;
    }
}

#main2 {
    filter: brightness(80%) contrast(200%) hue-rotate(20deg) drop-shadow(2px 2px 4px rgb(79, 111, 129)) saturate(1.9);
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: #09776500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    animation: main2 10s infinite forwards;
}

#main2 svg,
#main2 path {
    margin-top: -7%;
    animation-delay: 1s;
    opacity: 0.7;
}

#main1 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 4;
    background-color: #313b46;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    position: fixed;
    background-size: cover;
    animation: main1 20s infinite forwards;
}

@keyframes main1 {
    0% {
        box-shadow: 0px 0px 2px rgb(79, 111, 129);
        filter: hue-rotate(0deg) contrast(120%) blur(0px) drop-shadow(0px 0px 0px rgb(79, 111, 129));
    }

    25% {
        box-shadow: 2px 0px 2px rgb(93, 133, 156);
        filter: hue-rotate(2.5deg) contrast(120%) blur(0.5px) drop-shadow(2px 10px 5px rgb(79, 111, 129));
    }

    50% {
        box-shadow: 0px 0px 0px rgb(79, 111, 129);
        filter: hue-rotate(5deg) contrast(120%) blur(1px) drop-shadow(0px 0px 10px rgb(79, 111, 129));
    }

    75% {
        box-shadow: -2px 0px 2px rgb(93, 133, 156);
        filter: hue-rotate(2.5deg) contrast(120%) blur(0.5px) drop-shadow(-2px -10px 5px rgb(79, 111, 129));
    }

    100% {
        box-shadow: 0px 0px 2px rgb(79, 111, 129);
        filter: hue-rotate(0deg) contrast(120%) blur(0px) drop-shadow(0px 0px 0px rgb(79, 111, 129));
    }
}

@keyframes main2 {
    0% {
        box-shadow: 0px 0px 1px rgb(79, 111, 129);
        filter: brightness(80%) contrast(100%) hue-rotate(0deg) drop-shadow(0px 2px 2px rgb(79, 111, 129)) saturate(1);
    }

    25% {
        box-shadow: 2px 0px 2px rgb(93, 133, 156);
        filter: brightness(80%) contrast(120%) hue-rotate(10deg) drop-shadow(2px 2px 4px rgb(79, 111, 129)) saturate(1.5);
    }

    50% {
        box-shadow: 0px 0px 0px rgb(79, 111, 129);
        filter: brightness(80%) contrast(150%) hue-rotate(20deg) drop-shadow(2px 2px 4px rgb(79, 111, 129)) saturate(1.9);
    }

    75% {
        box-shadow: -2px 0px 2px rgb(93, 133, 156);
        filter: brightness(80%) contrast(120%) hue-rotate(10deg) drop-shadow(2px 2px 4px rgb(79, 111, 129)) saturate(1.5);
    }

    100% {
        box-shadow: 0px 0px 2px rgb(79, 111, 129);
        filter: brightness(80%) contrast(100%) hue-rotate(0deg) drop-shadow(2px 2px 4px rgb(79, 111, 129)) saturate(1);
    }
}

/*div {
            outline: none !important;
            will-change: transform;
        }*/

#svg {
    filter: drop-shadow(2px 2px 2px rgb(79, 111, 129));
    position: fixed;
    opacity: 0.2;
    margin-top: -10%;
    z-index: 1;
    transform-origin: center;
    transform-box: fill-box;
}

@media only screen and (max-width: 700px) {
    #main2 svg,
    #main2 path {
        margin-top: -1%;
        animation-delay: 1s;
        opacity: 0.7;
    }
    
    #svg{
        margin-top: -1%;
    }
}

#svg:nth-child(1) path {
    display: block;
    animation: svg1 30s infinite forwards alternate;
}

#svg:nth-child(2) path {
    display: block;
    animation: svg2 40s infinite forwards alternate-reverse;
}

#svg:nth-child(3) path {
    display: block;
    animation: svg3 50s infinite forwards reverse;
}

@keyframes svg1 {
    0% {
        d: path("M0,64L48,80C96,96,192,128,288,165.3C384,203,480,245,576,272C672,299,768,309,864,288C960,267,1056,213,1152,165.3C1248,117,1344,75,1392,53.3L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
            );
    }

    50% {
        opacity: 0.5;
        d: path("M0,320L48,304C96,288,192,256,288,245.3C384,235,480,245,576,213.3C672,181,768,107,864,69.3C960,32,1056,32,1152,64C1248,96,1344,160,1392,192L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
            );
    }

    100% {
        d: path("M0,64L48,80C96,96,192,128,288,165.3C384,203,480,245,576,272C672,299,768,309,864,288C960,267,1056,213,1152,165.3C1248,117,1344,75,1392,53.3L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
            );
    }
}

@keyframes svg2 {
    0% {
        d: path("M0,256L48,261.3C96,267,192,277,288,240C384,203,480,117,576,96C672,75,768,117,864,160C960,203,1056,245,1152,245.3C1248,245,1344,203,1392,181.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
            );
    }

    50% {
        opacity: 0.5;
        d: path("M0,224L48,229.3C96,235,192,245,288,245.3C384,245,480,235,576,208C672,181,768,139,864,133.3C960,128,1056,160,1152,186.7C1248,213,1344,235,1392,245.3L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
            );
    }

    100% {
        d: path("M0,256L48,261.3C96,267,192,277,288,240C384,203,480,117,576,96C672,75,768,117,864,160C960,203,1056,245,1152,245.3C1248,245,1344,203,1392,181.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
            );
    }
}

@keyframes svg3 {
    0% {
        d: path("M0,32L60,80C120,128,240,224,360,256C480,288,600,256,720,224C840,192,960,160,1080,160C1200,160,1320,192,1380,208L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
            );
    }

    50% {
        opacity: 0.5;
        d: path("M0,256L60,229.3C120,203,240,149,360,144C480,139,600,181,720,213.3C840,245,960,267,1080,256C1200,245,1320,203,1380,181.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
            );
    }

    100% {
        d: path("M0,32L60,80C120,128,240,224,360,256C480,288,600,256,720,224C840,192,960,160,1080,160C1200,160,1320,192,1380,208L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
            );
    }
}

@media only screen and (max-width: 1000px) {
    #scrollPath {
        border-radius: 5px;
        margin-top: 48px;
        opacity: 0.7;
        z-index: 999999999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.5%;
        background-color: rgba(225, 225, 225, 0.05);
    }

    #pgr {
        z-index: 999999999;
        margin-top: 48px;
        opacity: 0.6;
        border-radius: 5px;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0.5%;
        background: linear-gradient(to left, #008aff, #00ffe7);
        animation: scroll 5s linear infinite;
    }
}

@media only screen and (min-width: 1000px) {
    .fa-compress{
        top: 130px;    
    }
    
    .fa-expand{
        top: 130px;    
    }
    
    #scrollPath {
        border-radius: 5px;
        margin-top: 34px;
        opacity: 0.7;
        z-index: 999999999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.5%;
        background-color: rgba(225, 225, 225, 0.05);
    }

    #pgr {
        z-index: 999999999;
        margin-top: 34px;
        opacity: 0.6;
        border-radius: 5px;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0.5%;
        background: linear-gradient(to left, #008aff, #00ffe7);
        animation: scroll 5s linear infinite;
    }
}

@keyframes scroll {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

#pgr::before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    filter: blur(10px);
}

#pgr::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #008aff, #00ffe7);
    filter: blur(30px);
}

@media only screen and (max-width: 700px) {
    .custom-scrollbar-track , .custom-scrollbar{
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }
}

@media only screen and (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    .custom-scrollbar-track {
        z-index: 9999999;
        visibility: hidden;
        border-radius: 40px;
        overflow: hidden;
        background-image: linear-gradient(to top, #52595e, #121f2c);
        position: fixed;
        width: 10px;
        margin-top: 7vh;
        height: 80vh;
        top: 0;
        right: 0;
        animation: scbar1 5s ease-in-out infinite forwards reverse;
    }
    
    .custom-scrollbar-track:hover {
        visibility: visible;
        opacity: 0.7;
        border-radius: 100px;
        overflow: hidden;
        background-color: blue;
        position: fixed;
        width: 20px;
        margin-top: 7vh;
        height: 80vh;
        top: 0;
        right: 0;
        animation: scbar1 5s ease-in-out infinite forwards;
    }
    
    .custom-scrollbar-track:hover .custom-scrollbar{
        width: 20px;
    }
    
    .custom-scrollbar {
        box-shadow: 0px 3px 1px rgba(27, 57, 66, 0.781);
        visibility: visible;
        border-radius: 40px;
        top: 0;
        overflow: hidden;
        position: relative;
        width: 10px;
        height: 10vh;
        background-image: linear-gradient(to top, #833ab4, #fd1d1d, #fcb045);
        animation: scbar2 5s ease-in-out infinite forwards alternate;
    }
    
    .custom-scrollbar::before {
        content: '';
        filter: blur(10px);
        box-shadow: 0px 3px 1px rgba(27, 57, 66, 0.781);
        visibility: visible;
        border-radius: 40px;
        top: 0;
        overflow: hidden;
        position: relative;
        width: 10px;
        height: 10vh;
        background-image: linear-gradient(to top, #833ab4, #fd1d1d, #fcb045);
    }
    
    .custom-scrollbar::after {
        content: '';
        filter: blur(30px);
        box-shadow: 0px 3px 1px rgba(27, 57, 66, 0.781);
        visibility: visible;
        border-radius: 40px;
        top: 0;
        overflow: hidden;
        position: relative;
        width: 10px;
        height: 10vh;
        background-image: linear-gradient(to top, #833ab4, #fd1d1d, #fcb045);
    }
    
    @keyframes scbar1 {
    
        0%,
        100% {
            filter: opacity(.9) brightness(100%) contrast(100%) hue-rotate(0deg);
        }
    
        50% {
            filter: opacity(.7) brightness(200%) contrast(150%) hue-rotate(360deg);
        }
    }
    
    @keyframes scbar2 {
    
        0%,
        100% {
            filter: contrast(120%) drop-shadow(0px 0px 0px hsla(189, 13%, 20%, 0.473)) opacity(1) hue-rotate(0deg);
        }
    
        50% {
            filter: contrast(150%) drop-shadow(0px 3px 5px hsla(189, 13%, 20%, 0.473)) opacity(.8) hue-rotate(360deg);
        }
    }
    
    
    @keyframes scbar3 {
    
        0%,
        100% {
            filter: opacity(1) brightness(100%) contrast(100%) hue-rotate(0deg);
            -webkit-filter: opacity(1) brightness(100%) contrast(100%) hue-rotate(0deg);
    }
    
        50% {
            filter: opacity(0.9) brightness(200%) contrast(200%) hue-rotate(360deg);
        }
    }
    
    .custom-scrollbar:active {
        border-radius: 100px;
        width: 20px;
        animation: scbar3 5s ease-in-out infinite forwards;
        cursor: grab;
        user-select: none;
    }
    
    .custom-scrollbar:hover {
        border-radius: 100px;
        width: 20px;
        cursor: grab;
        user-select: none;
        animation: scbar3 5s ease-in-out infinite forwards;
    }
}

.on-signOut {
    cursor: pointer;
}

.index-post .post-snippet{
    color: rgb(255 255 255 / 94%);
}

.userText::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.adsbygoogle {
    width: 100% !important;
}

/*ins {
    display: block !important;
}*/

#sidebar-wrapper>#social-widget, .adsbygoogle-noablate {
    display: none !important;
}

@media only screen and (min-width:1000px) {
    .post-body.post-content span, p {
        font-size: 1.5em;
        line-height: normal !important;
    }

    div>p>span, div>span>span {
        font-size: 1em !important;
    }
    
    .post-body.post-content span>span>span{
        font-size: 1em !important;
    }
    
    .post-body.post-content div>span>div, .post-body.post-content div>span>p, .post-body.post-content div>span>p span, .post-body.post-content div div.separator, .post-body.post-content div div.separator span, .post-body.post-content div div.separator div, .post-body.post-content div b, .post-body.post-content div span b, .post-body.post-content span b, .post-body.post-content div b span, .post-body.post-content div b div {
        font-size: 1.1em !important;
    }
}

div#disqus_thread iframe[sandbox] {
        max-height: 0px !important;
}

.code-container {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: text !important;
}

.btn_copy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 4em;
  height: 2em;
  cursor: pointer;
}

.code-container button {
  position: absolute;
  background-image: linear-gradient(45deg, rgba(36, 36, 43, 0.5), rgba(54, 45, 45, 0.596));
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer !important;
  display: none;
}

.code-container:hover button {
  display: block;
}

pre:before {
    content: '' !important;
}

code span {
    font-size: inherit !important;
}

code {
    font-size: inherit !important;
}

pre {
    background: repeating-radial-gradient(#577d89, transparent) !important;
}

.widget .post-body li {
    margin: 20px !important;
}

code {
    max-height: 1000px;
    overflow: auto;
}

@media only screen and (max-width:700px) {
    code {
        max-height: 700px;
        overflow: auto;
    }
}

.twitter, .facebook, .pinterest, .linkedin, .whatsapp, .email, .twitter::before, .facebook::before, .pinterest::before, .linkedin::before, .whatsapp::before, .email::before {
    border-radius: 20px;
}

@media only screen and (max-width:700px) {
    .custom-scrollbar-track-div , .custom-scrollbar-div, .custom-scrollbar-div-v, .custom-scrollbar-track-div-v {
        width: 15px;
    }
}
